<div class="container">
    <h1>
      <%= title %>
    </h1>

    <!-- Home Content -->
    <div class="home container">
  <!-- Profile picture -->
           
        <div class="about-img"> 
            <img src="../../public/images/logo.jpg">
        </div>

        <p>Welcome to my site. This site lets you know more about me and the services I offer.
        You get to know more about my fun projects as well.
        </p>

        <h2> Mission Statement </h2>
        <p>To solve complex business problems through the use of Statistical Methods, 
        Machine Learning algorithms and other technology tools.</p>
    </div>
 </div>