  <div class="container">
    <h1>
      <%= title %>
    </h1>


    <div>
    <p>
       • Developed text analytics proof-of-concept for Government of Ontario SME digital assistant comprising site 
        scraping, development of site topology, site content summarization with BERT, topic modeling and page
        recommendation with Top2Vec ML model.
    </p>
    <p>
        • Implemented route optimization for Fleet Management System using Geo-Spatial data by identifying and reducing 
        routes with high idling, longer completion time and higher left turns. Potential cost savings from analysis is over 
        $150,000 per year on fuel consumption. Analytics tools used: QGIS, Geo-Pandas and Scikit-Learn
    </p>
    <p>
        • Designed a customer segmentation strategy for a 10,000-customer base client that enhanced target marketing of 
        client realizing 20% increase in sales conversion. Machine Learning Algorithms used: K-Means and K-Prototype (In 
        Python)
    </p>
    </div>
    
  </div>