  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <p> I offer the following services...
    1. Web site design
    2. Data analytics
    3. Database design and administration
    </p>
  </div>