  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <p> I offer the following services...</p>

<ul>
  <li><h6>Web site design</h6> <img src="http://localhost:3000/Assets/images/web_design.jpg"></li>
  <li><h6>Data analytics </h6><img src="http://localhost:3000/Assets/images/analytics.jpg"></li>
  <li><h6>Database design and administration </h6>
  <img src="http://localhost:3000/Assets/images/database.jpg"></li>
</ul> 
        
  </div>